body {
  font-family: Rubik, Arial;
	
  background-color: #2b786e;
  filter-gradient(#2b786e, #01649f, vertical); 
  background-image(linear-gradient(top, #2b786e 0%,#237b6f 0%,#17796c 1%,#15796d 1%,#1c7d74 2%,#217b71 2%,#217b71 4%,#1a7a6c 6%,#1c766a 8%,#24766a 8%,#1f7165 9%,#1f7165 10%,#277164 10%,#256f62 11%,#1d675a 12%,#126959 12%,#0c6758 12%,#056b5d 13%,#00695b 14%,#036b60 14%,#005d4e 14%,#0c5b48 14%,#6a9989 15%,#c5d0c8 15%,#ddd4d7 15%,#ded9df 15%,#d6d9e2 16%,#ccd5da 16%,#bfc6ce 16%,#98a7ac 16%,#6f9393 17%,#327169 17%,#055548 17%,#106055 17%,#185f57 18%,#135e57 18%,#135e57 20%,#085b51 20%,#0d5e55 20%,#0e5f56 20%,#0d5d54 20%,#115e56 21%,#115c55 21%,#0d5851 21%,#0d5d52 22%,#0e5b51 22%,#165c54 23%,#12504b 23%,#1b524d 24%,#225b48 25%,#245d4e 25%,#245c4f 25%,#22614e 26%,#1e5d4a 26%,#1f5e4b 27%,#185847 28%,#1e5947 28%,#265b49 28%,#487161 29%,#527766 29%,#547666 29%,#5b7f73 30%,#5f8377 30%,#618579 31%,#64887c 31%,#608478 31%,#5b8078 32%,#62887d 32%,#5d8378 32%,#658a83 32%,#7ea6a8 33%,#82a9ba 33%,#6a93b3 33%,#5a84ac 33%,#378bc9 34%,#106aa8 34%,#0365a2 34%,#0672b0 34%,#0071b0 35%,#0075b8 35%,#057abf 35%,#006db3 35%,#0076b0 36%,#0077b1 36%,#0377b2 36%,#0172ae 37%,#056fad 38%,#0071af 38%,#0076b3 38%,#006caa 38%,#1365a1 39%,#4877af 39%,#6883b0 39%,#617397 39%,#5a7485 40%,#326a8b 40%,#08679d 40%,#006eb1 40%,#0075b8 40%,#066cb7 41%,#096cbf 41%,#0076bc 41%,#0079c0 48%,#0078c6 49%,#0078bf 49%,#007cc1 51%,#037ec2 51%,#007bbf 52%,#037ec2 53%,#007bbf 55%,#007bbf 57%,#0083c1 57%,#0d64b1 58%,#57a4d0 58%,#b7bfd6 58%,#97b9d5 58%,#0786bd 59%,#0274ca 59%,#007cbc 59%,#0078bd 59%,#027cbf 61%,#0079bc 62%,#017bbe 62%,#0078bb 63%,#0177bd 65%,#0077ba 65%,#027cbf 66%,#007abd 67%,#0076bc 67%,#0176bb 71%,#0074b7 71%,#0073b8 75%,#006bb1 77%,#006cad 77%,#006aae 79%,#0066a4 80%,#0068a1 81%,#01619d 82%,#006099 83%,#02659e 84%,#00639c 85%,#00649f 85%,#00649f 87%,#00619a 88%,#00639e 89%,#00619c 90%,#0068a2 91%,#00649a 92%,#04689c 93%,#01649f 93%,#00619c 93%,#00639e 94%,#005f9a 94%,#00619c 95%,#0165a0 95%,#00619c 98%,#01649f 100%));
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

form hr {
  width: 50%;
}

h1 {
  text-align: center;
}

#burger {
  max-height: 30%;
}

#overlay {
  width: 80%;
  margin: 1% auto;
  height: 96vh;
  background-color: #DED9DF;
  border-radius: 30px;
}

#logo {
  height: 75px;
  display: block;
  margin: auto;
  border-radius: 10px;
}


.toppings label, .cheesy label {
  margin-right: 25px;
}
